<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<link th:href="@{../css/style.css}" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
	rel="stylesheet" 
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
	crossorigin="anonymous">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
	<button><a th:href="@{/}" >LOG OUT</a></button>
	<h3>Personal Calendar : </h3>
    <table>
    <thead>
        <tr>
            <th> Type of event </th>
            <th> Start date </th>
            <th> End date </th>

        </tr>
    </thead>
    <tbody>

        <tr th:each="event : ${events}">
            <td><span th:text="${event.getClass().getSimpleName()}">  </span></td>
            <td><span th:text="${#temporals.format(event.startDate, 'dd-MM-yyyy HH:mm')}">}" ></span></td>
            <td><span th:text="${#temporals.format(event.endDate, 'dd-MM-yyyy HH:mm')}">}</span></td>

        </tr>
    </tbody>
</table>
</body>
</html>