<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clocking confirmation</title>
</head>
<body>

    <h2 th:if="${clockingStatus == 'in'}">WP! You clocked In at <a th:text="@{${clockingTime.toLocalTime()}}"></h2>
    <h2 th:if="${clockingStatus == 'out'}">WP! You clocked Out at <a th:text="@{${clockingTime.toLocalTime()}}"></h2>
    
    <td><a th:href="@{/}">Main menu</a></td>
    <br></br>

</body>
<td><a th:href="@{${'/login'}}">Log-in</a></td>
<td><a th:href="@{${'/logout'}}">Log-out</a></td>
<footer>
    &copy; Team Zircon 2021
</footer>

</html>