<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createItem</title>
</head>
<body>
You can create a Reminder here and add it to your list.

<form action="#" th:action="@{/createReminder}" th:object="${Reminder}" method="post">

    <label for="title">Enter title</label>
    <input type="text" id="title" th:name="title" placeholder="Title of the reminder...">
    <input type="submit" value="Create">
</form>

<button><a th:href="@{${'/reminderList'}}">Click here to go back to the list</a></button>

</body>
</html>