<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form class="form-item" th:action="@{/info/update}" th:object="${employee}" method="post">
		
		<td>Id : <span th:text="${employee.id}">  </span></td>    
     	<br></br>
     	
		<input type="hidden"  th:field="*{id}" th:value="${employee.id}"/> 
		
		<label for="id">Name</label>
		<input type="text" th:field="*{name}" th:text="${employee.name}" th:value="${employee.name}"/> 
		
		<td>Department</td>
		<td>
			<select th:field="*{department}" th:value="${employee.department}">
				<option th:value="null"></option>
				<option th:each="department : ${departmentList}" th:value="${department}"
					th:text="${department}" ></option>
			</select>
		</td>
			
		<input type="submit" value="Update"/> 
	</form>
    
</body>
</html>