<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ItemList</title>
</head>
<body>
<button><a th:href="@{/}" >LOG OUT</a></button>
    <h1>Welcome <span  th:text="${employeeName}"></span></h1>

    <h2>Here is your reminder List :</h2>

<table>
    <thead>
    <tr>
        <th> ReminderID </th>
        <th> Title </th>
        <th> Description </th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="reminder : ${reminders}">
        <td><span th:text="${reminder.reminderID}">  </span></td>
        <td><span th:text="${reminder.title}" > </span></td>
        <td><span th:text="${reminder.description}" > </span></td>
    </tr>
    </tbody>
</table>

<button><a th:href="@{${'/createReminder?employeeId=' + employeeId }}">Click here to add a reminder</a></button>


</body>
</html>