<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>WELCOME TO THIS PROJECT</h1>
	<td><a th:href="@{${'/list'}}">Yoo</a></td>
	<td><a th:href="@{${'/list'}}">Yoo</a></td>
	<td><a th:href="@{${'/list'}}">Yoo</a></td>
	<td><a th:href="@{${'/list'}}">Yoo</a></td>
	<td><a th:href="@{${'/list'}}">Yoo</a></td>
	<td><a th:href="@{${'/list'}}">Yoo</a></td>




</body>

</html>