<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Zircon Human Resources Management System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		h1{
			text-align: center;
		}
		#title1 {
			color: white;
			background-color: black;
			padding: 1em;
		}

	</style>

</head>

<body>
	<h1 id="title1">Zircon Human Resources Management System</h1>
	<td><a th:href="@{${'/login'}}">Log-in</a></td>
	<td><a th:href="@{${'/logout'}}">Log-out</a></td>





</body>

</html>